 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 /* shared-style */
 
 .logo h2 {
     font-size: 45px;
     font-weight: 900;
 }
 
 .color-primary {
     color: #FD6E0A;
 }
 
 .font-open-sans {
     font-family: "Open Sans", sans-serif;
     font-optical-sizing: auto;
 }
 
 .btn {
     background-color: #FD6E0A;
     border: none;
     padding: 18px 35px;
     border-radius: 5px;
     font-size: 20px;
     font-weight: bold;
     color: white;
     cursor: pointer;
 }
 /* main-style */
 
 header {
     background-color: #FFF8F3;
     padding-top: 50px;
     background: url(../images/developer.png), url(/images/header_bg.png) #FFF8F3;
     background-position: top left, bottom right;
     background-repeat: no-repeat;
     padding-top: 50px;
 }
 
 .navber {
     width: 70%;
     max-width: 1140px;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 
 .menu {
     list-style: none;
     display: flex;
     gap: 40px;
     align-items: center;
 }
 
 .menu li a {
     color: #474747;
     font-size: 20px;
     text-decoration: none;
 }
 
 #banner {
     /* border: 1px solid red; */
     margin: 47px 38px 0 230px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 
 #banner.banner-content {
     max-width: 585px;
 }
 
 .banner-content h2 {
     font-size: 45px;
     font-weight: 600;
     color: #474747;
     margin-bottom: 5px;
 }
 
 .banner-content h1 {
     font-size: 60px;
     font-weight: bold;
     color: #181818;
     margin-bottom: 20px;
 }
 
 .banner-content p {
     color: #757575;
     line-height: 30px;
     font-size: 18px;
     margin-bottom: 5px;
 }
 
 #banner.banner-imag {
     max-width: 585px;
     vertical-align: middle;
 }