 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 /* shared-style */
 
 .logo h2 {
     font-size: 45px;
     font-weight: 900;
 }
 
 .color-primary {
     color: #FD6E0A;
 }
 
 .font-open-sans {
     font-family: "Open Sans", sans-serif;
     font-optical-sizing: auto;
 }
 
 .btn {
     background-color: #FD6E0A;
     border: none;
     padding: 18px 35px;
     border-radius: 5px;
     font-size: 20px;
     font-weight: bold;
     color: white;
 }
 /* main-style */
 
 header {
     background-color: #FFF8F3;
     padding-top: 50px;
 }
 
 .navber {
     width: 70%;
     max-width: 1140px;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 
 .menu {
     list-style: none;
     display: flex;
     gap: 40px;
     align-items: center;
 }
 
 .menu li a {
     color: #474747;
     font-size: 20px;
     text-decoration: none;
 }